<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
<link rel="style/sheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<link rel="stylesheet" type="text/css" href="static/style.css">
<link rel="stylesheet" type="text/css" href="static/sequences.css"/>
<style type="text/css">

</style>
</head>
<body>

<!-- <button class="btn demo-btn" onclick="$('body').animatescroll();">Click for a Demo</button> -->
<div id="chloropleth">
</div>


      <div id="jobsequence"></div>
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span>
        </div>
      </div>

</body>
<script type="text/javascript" src="static/map.js"></script>
<script type="text/javascript" src="static/jobsequence.js"></script>
</html>
